@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: "Outfit";
    height: 100vh;
    margin: 0;
}
.box{
    background-color:hsl(0,0%,100%);
    max-width: 20%;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
img{
    border-radius: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 93%;

}
.heading {
     color: hsl(218, 44%, 22%);
    font-weight:700;
    margin: 20px 20px 10px 20px;
    padding:0px 20px;
    font-size: 18px;
    text-align: center;
}
.subtext {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    color: hsl(220, 15%, 55%);
    padding: 10px;
}
@media (max-width:380px){
    .box{
        height: 520px;
        width: 335px;
    }
    img{
    border-radius: 20px;
    margin-top: 17px;
    margin-left: 13px;
    }
}